body {
    background-color: rgb(196, 191, 191);
}

.container {
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
}

.home button {
    background-color: #8A0C18;
    border: 3px solid black;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
    color: #ccc;
    font-size: 1.8em;
    cursor: pointer;
    text-decoration: none;
    width: 300px;
    margin-top: 10px;
}

.containerThreeT,
.containerTwoT {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.containerThreeT img {
    width: 150px;
    height: 120px;
    margin-top: 30px;
}

.containerThreeT>div {
    background-color: white;
    width: 420px;
    height: 150px;
    display: flex;
    border-radius: 20px;
    border: 3px solid black;
}

.cardChild {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.cardChild h1 {
    margin: 0;
    color: black;
}

.cardChild p {
    color: rgb(224, 113, 9);
    margin: 0;
    font-size: 100px;
}

.info {
    background-color: white;
    width: 300px;
    height: 145px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid black;
}

.info h1 {
    margin-top: 0px;
    align-self: center;
    color: black;
}

.info a {
    text-decoration: none;
    color: #8A0C18;
    display: block;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: bold;
}

.films {
    background-color: white;
    display: grid;
    flex-direction: column;
    width: 1000px;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    border-radius: 10px;
    border: 3px solid black;
}

.films div {
    background-color: #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    width: 450px;
    border-radius: 10px;
    border: 3px solid black;
}

.films p {
    margin: 0;
    color: black;
}

.films h1 {
    margin: 0;
}