.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.pagination button {
    margin: 0 10px;
    background-color: #8A0C18;
    border: 3px solid #ccc;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
    color: #ccc;
    font-size: 1.8em;
    cursor: pointer;
}

.pagination button:disabled {
    background-color: #F48C06; /* Color de fondo gris para botones deshabilitados */
    cursor: not-allowed;
}

.pagination span {
    color: white;
    font-size: 1.8em;
}

.loading {
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
    animation: colorChange 5.5s infinite;
}

@keyframes colorChange {
    0% {
        color: #8A0C18; /* Color inicial */
    }
    50% {
        color: #FFA500; /* Color intermedio */
    }
    100% {
        color: #f48c06; /* Color final */
    }
}