.container {
    display: flex;
    justify-content: space-between ;
    align-items: center;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container a {
      /* background-color: #8A0C18; */
      border-radius: 10px;
      color: #fff;
      text-decoration: none;
      margin: 0px 50px;
      padding: 8px 10px;
}

.container a:not(.logo) {
    background-color: #8a0c18;
}

.container a:hover:not(.logoLink) {
    color: white;
    background-color: black;
}

img {
    width: 100px;
    margin: 0px 50px;
}